<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">تایملاین</h2>
                    <h3 class="section-subheading text-muted">اینجا می‌تونین اتفاقات مهمی که در توسعه پرسپولیس اتفاق افتاده رو ببینین!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>۱۳۹۵</h4>
                                    <h4 class="subheading">سرآغاز همه‌چیز!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">در این سال، ایده پرسپولیس به آقای امیرصمیمی رسید؛ چرا یک رابط گرافیکی برای دانلود منیجر aria2 نداشته باشیم که در آن موقع آریا۲، رابط ترمینال داشت!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>تیر ۱۳۹۵</h4>
                                    <h4 class="subheading">اولین انتشار</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">این انتشار، اولین انتشار موجود در <a href="https://github.com/persepolisdm/persepolis/releases">گیت‌هاب پروژه</a> است! در آن‌زمان، پرسپولیس فقط یک رابط گرافیکی برای آریا۲ بود؛ اجرا می‌کردینش، لینکتونو بهش میدادین، بعدش اون هم شروع به دانلود می‌کرد! بدون پیچیدگی و انجام کار اضافی.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>شهریور ۱۳۹۵</h4>
                                    <h4 class="subheading">افتتاح سایت پروژه</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">قدم بزرگ دیگری در پروژه، افتتاح سایت بود که با زحمات بسیار صادق علیرضایی انجام شد. در سایت روش نصب پرسپولیس روی توزیع‌های مختلف توضیح داده شده بود.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>آذر ۱۳۹۵</h4>
                                    <h4 class="subheading">پشتیبانی از مکینتاش</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">حالا ما مفتخریم که اعلام کنیم مکینتاش نیز پشتیبانی می‌شود (روی سیرا تست شده). هم می‌توانید با دپندسی‌ها برنامه را اجرا کنید، هم بدون دپندسی و کاملا مستقل! پکیج مستقل نیز با انتشار بعدی قابل دانلود خواهد بود.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>دی ۱۳۹۵</h4>
                                    <h4 class="subheading">ویژگی‌های بیشتر و بهتر!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">در این تاریخ، ما نسخه ۲.۳ را که شامل اضافه شدن افزونه گوگل کروم، صف دانلود و قابلیت‌های دیگری بود؛ منتشر کردیم و پرسپولیس را به انتخابی بهتر برای کاربران تبدیل کردیم!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/windows.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>فروردین ۱۳۹۶</h4>
                                    <h4 class="subheading">پشتیبانی از ویندوز</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">ما خرسندیم که اعلام کنیم از هم‌اکنون از نسخه ۲.۴ پرسپولیس بر روی ویندوز هم اجرا خواهد شد ، ویژگی های جدیدی افزوده شده و باگ‌ها برطرف شده است و  همچنین رابط کاربری بهبود یافته است.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>شما نیز
                                    <br>‌می‌توانید اینجا
                                    <br>باشید!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
