<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Here you can see what have been done for Persepolis!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">The Beginning!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This year, The idea of Persepolis came to Alireza AmirSamimi's mind: Why not having a GUI wrapper for the great <code>aria2</code> download engine which was only available through prompt wrapper <code>aria2c</code>?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jul 2016</h4>
                                    <h4 class="subheading">First release</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This release, is the very first release available on <a href="https://github.com/persepolisdm/persepolis/releases">project repository</a>! By that time, Persepolis was just a simple GUI for <code>aria2</code>. You enter your links, it starts downloading; very simple application with no additional features.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2016</h4>
                                    <h4 class="subheading">The Site went online</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Another important event in developing Persepolis was having its own site online, with special thanks to Sadegh Alirezaie. The site introduces the software and the installation method for various distros.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2016</h4>
                                    <h4 class="subheading">macOS support implemented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are glad to announce that Persepolis can be run on MacOS (tested on Sierra), either with dependecies (like Linux) or completely standalone! The .app package will be available with next release.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2017</h4>
                                    <h4 class="subheading">More features</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By this time, We had released Persepolis 2.3. We've added Chrome integration, queues and more features to Persepolis and made it a better choice for users!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/windows.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Apr 2017</h4>
                                    <h4 class="subheading">Windows support implemented</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> We are glad to announce that Persepolis 2.4 can be run on Windows. In addition to that, many new features are added and several bugs are squished. Also, user interface is improved, too!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>You can
                                    <br>help us
                                    <br>too!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
