    <link rel="stylesheet" href="../css/font-awesome/css/ideal-image-slider.css">
    <link rel="stylesheet" href="../css/font-awesome/css/default.css">
    <section id="faq" class="bg-light-gray">
          <div class="container">
          <div class="row">
		            <div class="col-lg-12 text-center">
                   <h2 class="section-heading">FAQ</h2>
 		               <h3 class="section-subheading text-muted">Frequently asked questions</h3>
                   <h3 class="section-subheading text-muted"> for any quastion follow <a href="https://github.com/persepolisdm/persepolis/wiki/Home-en"> persepolis wiki</a></h3>
		               </div>
		               <div class="col-md-6">
                       <h3><a href="https://github.com/persepolisdm/persepolis/wiki/git-installation-instruction"> How to install persepolis from source ?</a><h3>

		              </div>

        </div>
        </div>
    </section>
