    <link rel="stylesheet" href="../css/font-awesome/css/ideal-image-slider.css">
    <link rel="stylesheet" href="../css/font-awesome/css/default.css">
    <section id="faq" class="bg-light-gray">
          <div class="container">
          <div class="row">
		            <div class="col-lg-12 text-center">
                   <h2 class="section-heading">FAQ</h2>
 		               <h3 class="section-subheading text-muted">Frequently asked questions</h3>
                   <h3 class="subheading"> for any quastion follow <a href="https://github.com/persepolisdm/persepolis/wiki/Home-en"> Persepolis wiki</a></h3>
                 </div><br>
                 <center>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/git-installation-instruction"> How to install Persepolis from source ?</a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/Privoxy"> How to use tor and SOCKS proxy with Persepolis ?</a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/How-to-create-queue"> How to schedule my downloads ? </a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/How-to-create-queue"> How to create download queue ?</a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/How-to-change-Persepolis-theme">  How to change Persepolis theme ?</a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/Firefox-Flashgot-Plugin"> How to integrate Persepolis in Firefox ?  </a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/Chrome-Extension"> How to integrate Persepolis in chrome/chromium </a><h4>
                       <h4><a href="https://github.com/persepolisdm/persepolis/wiki/debian-installation-instruction"> How to install Persepolis Download Manager on Debian-based Distributions ?  </a><h4>
                       <h4>
                        <a href="https://github.com/persepolisdm/persepolis/wiki/Opera">
                            How to integrate Persepolis in Opera ?
                        </a>
                        <h4>
                            <a href="https://github.com/persepolisdm/persepolis/wiki/Chrome-Extension">
                                How to integrate Persepolis in Vivaldi ?
                            </a>
                        </h4>
                       <h4>
                           <a href=""></a>
                       </h4>
                </center>
        </div>
        </div>
    </section>
