    <link rel="stylesheet" href="../css/font-awesome/css/ideal-image-slider.css">
    <link rel="stylesheet" href="../css/font-awesome/css/default.css">
    <section id="second" class="bg-light-gray">
        <div class="container">
            <div class="row">
		<div class="col-lg-12 text-center">
                <h2 class="section-heading">ABOUT</h2>
 		<h3 class="section-subheading text-muted">some persepolis features</h3>
		</div>
		<div class="col-md-6">
		<p>Persepolis is a Download Manager &amp; a GUI For <code>aria2</code>. It's written in Python.
		Persepolis is a Sample of <abbr title="as in freedom">Free</abbr> and open source software. It's developed For GNU/Linux Distributions, BSDs, macOS and Microsoft Windows.
		You can join Persepolis contributers &amp; Help us with developing it.</p>

		<ul>
			<li><p>Graphical UI for aria2</p></li>
			<li><p>Multi segment downloading</p></li>
			<li><p>Scheduling downloads</p></li>
			<li><p>Download queuing</p></li>
		</ul>

		</div>
	<div class="col-md-6 right">
	<div id="slider">
  	  <img src="../img/screen/screen1.jpeg" />
  	  <img src="../img/screen/screen2.jpeg" />
  	  <img src="../img/screen/screen3.jpeg" />
  	  <img src="../img/screen/screen4.jpeg" />
  	  <img src="../img/screen/screen6.jpeg" />
  	  <img src="../img/screen/screen7.jpeg" />
	</div>
 	<script src="../js/ideal-image-slider.js"></script>
	<script>
	var slider = new IdealImageSlider.Slider({
  	  selector: '#slider',
	  height: 320,
  	  interval: 2000
	});
	slider.start();
	</script></div>
            </div>
        </div>
    </section>
