    <link rel="stylesheet" href="../css/font-awesome/css/ideal-image-slider.css">
    <link rel="stylesheet" href="../css/font-awesome/css/default.css">
    <section id="second" class="bg-light-gray">
        <div class="container">
            <div class="row">
		<div class="col-lg-12 text-center">
                <h2 class="section-heading">ABOUT</h2>
 		<h3 class="section-subheading text-muted">some persepolis features</h3>
		</div>
		<div class="col-md-6">
		<p>Persepolis Is A Download Manager And A GUI For Aria2 Which Is Powered By Python.
		Persepolis Is A Sample Of Free And Open Source Software And Developed For GNU/Linux Distributions,BSDs,Mac OS and Windows.
		You Can Join Persepolis Users And Help Us With Developing It.</p>

		<ul>
			<li><p>Graphical UI front end for aria2</p></li>
			<li><p>Multi segment downloading</p></li>
			<li><p>Scheduling downloads</p></li>
			<li><p>Download queue</p></li>
		</ul>

		</div>
	<div class="col-md-6 right">
	<div id="slider">
  	  <img src="../img/screen/screen1.jpeg" />
  	  <img src="../img/screen/screen2.jpeg" />
  	  <img src="../img/screen/screen3.jpeg" />
  	  <img src="../img/screen/screen4.jpeg" />
  	  <img src="../img/screen/screen6.jpeg" />
  	  <img src="../img/screen/screen7.jpeg" />
	</div>
 	<script src="../js/ideal-image-slider.js"></script>
	<script>
	var slider = new IdealImageSlider.Slider({
  	  selector: '#slider',
	  height: 320,
  	  interval: 2000
	});
	slider.start();
	</script></div>
            </div>
        </div>
    </section>
