<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">شروع به کار با پرسپولیس</h2>
                    <h3 class="section-subheading text-muted">در اینجا راهنمای نصب پرسپولیس روی سیستم‌عامل‌های مختلف را می‌بینید:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"> گنو/لینوکس</h4><br>
                    <h5> اوبونتو و دیگر توزیع‌های بر مبنای دبیان:</h5>
                    کافیست فقط دستورات زیر را در ترمینال وارد کنید:
                    <pre class="highlight"><code>sudo add-apt-repository ppa:persepolis/ppa
sudo apt update
sudo apt install persepolis
</code></pre>

<br><h5> آرچ و دیگر توزیع‌های بر مبنای آرچ:</h5>
نصب آخرین انتشار (پیشنهاد می‌شود):
<pre class="highlight"><code>yaourt -S persepolis
</code></pre>
نصب با آخرین تغییرات از گیت‌هاب:
<pre class="highlight"><code>yaourt -S persepolis-git
</code></pre>
<br><h5>فدورا:</h5>
<pre class="highlight"><code>sudo dnf copr enable amirsamimi/persepolis
sudo dnf install persepolis
</code></pre>
<br><h5>اپن‌سوزه:</h5>
طبق <a href="https://goo.gl/7p3MdK">این‌لینک</a> عمل کنید.
              <br>  </div>
              <div class="col-md-6">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <img class="fa-stack-1x fa-inverse" src='../img/beastie-white.svg'></img>
              </span>
              <h4 class="service-heading"> بی‌اس‌دی‌ها</h4>
              <br>
              <p> <a href="https://github.com/persepolisdm/persepolis/wiki/FreeBSD-Support">برای نصب پرسپولیس بر روی FreeBSD ویکی را دنبال کنید</a></p>
              <p><a href="https://github.com/persepolisdm/persepolis/wiki/OpenBSD-Support">برای نصب پرسپولیس بر روی OpenBSD ویکی را دنبال کنید</a></p>
              <br>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">مک</h4>
                <br>
                <p class="">برای نصب پرسپولیس روی مک از <a href="https://github.com/persepolisdm/persepolis/releases">صفحه انتشار </a> نسخه مک را دانلود کرده و در پوشه Applications قرار دهید</p>
                <p><a href="https://github.com/persepolisdm/persepolis/wiki/MacOS-Installer-fa">اطلاعات بیشتر در ویکی پرسپولیس</a></p>
            <br>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">ویندوز</h4>
                <br>
                <p>فایل نصاب ویندوز را با توجه به معماری سیستم خود از صفحه انتشار دانلود کرده و اجرا کنید.</p>
                <p><a href="https://github.com/persepolisdm/persepolis/wiki/Microsoft-Windows-fa">اطلاعات بیشتر در ویکی پرسپولیس</a></p>
  </div>
    </div>
    </section>
