<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get Started</h2>
                    <h3 class="section-subheading text-muted">Here is instructions on how to install:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installing on MacOS</h4>
                    <p class="text-muted">To install Persepolis on MacOS, you need to just simply download the latest package from <a href="https://github.com/persepolisdm/persepolis/releases">releases page</a> then copy then .app file to your Applications folder! Or if you prefer installing from source, you can follow the instructions on the <a href="https://github.com/persepolisdm/persepolis">project repo</a></p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installing on gnu/Linux</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
