<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get Started</h2>
                    <h3 class="section-subheading text-muted">Here is instructions on how to install:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installing on GNU/Linux</h4>
                    <h5>On Ubuntu and other Debian based distros:</h5>
                    Simply run the following commands:
                    <pre class="highlight"><code>sudo add-apt-repository ppa:persepolis/ppa
sudo apt update
sudo apt install persepolis
</code></pre>

<h5>Arch and other Arch bases:</h5>
To install latest release (recommended):
<pre class="highlight"><code>yaourt -S persepolis
</code></pre>
Or the latest version from github:
<pre class="highlight"><code>yaourt -S persepolis-git
</code></pre>
<h5>Fedora:</h5>
<pre class="highlight"><code>sudo dnf copr enable amirsamimi/persepolis
sudo dnf install persepolis
</code></pre>
<h5>openSUSE:</h5>
Follow <a href="https://goo.gl/7p3MdK">this link</a>.
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installing on MacOS</h4>
                    <p class="">To install Persepolis on MacOS, you need to just simply download the latest package from <a href="https://github.com/persepolisdm/persepolis/releases">releases page</a> then copy the .app file to your Applications folder!</p>
                    <p><a href="https://github.com/persepolisdm/persepolis/wiki/MacOS-Installer">more details on persepolis wiki</a></p>

                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installing on Microsoft Windows</h4>
                    <p>Visit <a href="https://github.com/persepolisdm/persepolis/wiki/Microsoft-Windows">wiki for learning how to install Persepolis on Windows</a></p>
                </div>
            </div>
            </div>

    </section>
