<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">شروع به کار با پرسپولیس</h2>
                    <h3 class="section-subheading text-muted">در اینجا راهنمای نصب پرسپولیس روی سیستم‌عامل‌های مختلف را می‌بینید:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">نصب روی گنو/لینوکس</h4>
                    <h5>روی اوبونتو و دیگر توزیع‌های بر مبنای دبیان:</h5>
                    کافیست فقط دستورات زیر را در ترمینال وارد کنید:
                    <pre class="highlight"><code>sudo add-apt-repository ppa:persepolis/ppa
sudo apt update
sudo apt install persepolis
</code></pre>

<h5>روی آرچ و دیگر توزیع‌های بر مبنای آرچ:</h5>
نصب آخرین انتشار (پیشنهاد می‌شود):
<pre class="highlight"><code>yaourt -S persepolis
</code></pre>
نصب با آخرین تغییرات از گیت‌هاب:
<pre class="highlight"><code>yaourt -S persepolis-git
</code></pre>
<h5>فدورا:</h5>
<pre class="highlight"><code>sudo dnf copr enable amirsamimi/persepolis
sudo dnf install persepolis
</code></pre>
<h5>اپن‌سوزه:</h5>
طبق <a href="https://goo.gl/7p3MdK">این‌لینک</a> عمل کنید.
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">نصب روی مک</h4>
                    <p class="">برای نصب برنامه روی مک بهتر است که از <a href="https://github.com/persepolisdm/persepolis/releases">صفحه انتشارها</a> نسخه مک را دانلود کرده و در پوشه Applications کپی کنید.</br></p>
                    <p>اگر هم ترجیح می‌دین که خودتون بسته .app رو بسازین، اول از همه باید دپندسی‌های پرسپولیس رو نصب کنین. برای اینکار هم باید اول brew رو نصب داشته‌باشین. حالا باید دپندسی‌هارو نصب کنین:</br>اول با brew، این پکیج‌ها رو نصب کنین:
                    <ul>
                        <li>python3</li>
                        <li>pyqt5</li>
                        <li>qt5</li>
                    </ul>
                بعدش با pip3 باید دوتا دپندسی پایتون زیر رو هم نصب کنین:
                    <ul>
                        <li>requests</li>
                        <li>pyobjc</li>
                    </ul>
                    (فراموش نکنین که برای نصب pyobjc به آخرین نسخه Xcode نیاز دارین!)
                    حالا باید دست به ترمینال شین و به پوشه‌ای که سورس پروژه رو توش ریختین (از گیت‌هاب دانلود کردین یا هر جور دیگه‌ای!) برین و تو ترمینال، دستور زیر رو بزنین:
<pre class="highlight"><code>bash package_build
</code></pre>
                    اگر هم میخواین بدونین چیکار میکنه، فایل package_build رو مطالعه کنین! بعد از انجام این مراحل، پکیج برنامه تو دایرکتوری پروژه هست!
                </p>
                </div>
            </div>
        </div>
    </section>
